.HT-header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #fff;
    box-sizing: border-box;
    border-bottom: 1px solid #e7e7e7;
    li {
        display: flex;
        align-items: center;
    }
}

.upDown{
    transform:rotate(180deg);
    transition: all 0.5s;
}
.topDown{
    transform:rotate(0deg);
    transition: all 0.5s;
}
.HTH-graderChird{
    margin-right: 55px;
}
