.login-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    img {
        width: 330px;
        height: 87px;
    }
    ul {
        margin-top: 90px;
        li ,.login-btn{
            width: 600px;
            height: 100px;
            display: flex;
            align-items: center;
            padding-left: 40px;
            border-radius: 50px;
            background-color: #fff;
            margin-bottom: 50px;
            box-sizing: border-box;
            i {
                width: 10%;
                text-align: center;
            }
            input {
                width: 80%;
                height: 80%;
                font-size: 35px;
                margin-left: 10px;
            }
        }
        .login-btn{
            justify-content: center;
            padding: 0;
            margin: 0;
            font-size: 35px;
            color: #f7514a;
            margin-bottom: 10px;
            border: none ;
        }
        .am-button:before{
            border: none !important;
        }
        input::-webkit-input-placeholder {
            /* placeholder颜色  */
            color: #aab2bd;
            /* placeholder字体大小  */
            font-size: 33px;
        }
    }

    p{
        width: 500px;
        display: flex;
        align-items: center;
        font-size: 32px;
        justify-content: space-between;
        margin-top: 20px;
        color: #f7514a;
        span{
            letter-spacing: 2px;
            color: #858585;
            span{
                color: #f7514a;
            }
        }
    }
    .login-foot{
        width: 88%;
        margin-top: 156px;
        border-top: 1px solid #e8e8e8;
        font-size: 30px;
        color: #858585;
        position: relative;
        span{
            width: 280px;
            text-align: center;
            position: absolute;
            left: 50%;
            top:-20px;
            z-index: 10px;
            background-color: #f5f5f9;
            transform: translateX(-50%);
        }
        img{
            width: 75px;
            height: 68px;
            position: absolute;
            top:60px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.login-btn-active{
    opacity: 0.6;
}

//获取验证码
.obtainCode{
    width: 220px !important;
    background-color: #f7514a !important;
    color: #fff !important;
    border-left: 0 !important;
    border-radius: 0 50px 50px 0 !important;
    line-height: 100px !important;
    text-align: center !important;
    height: 100% !important;
    font-size: 26px !important;
}
.activeClassBtn{
    opacity: 0.6;
}