.address-container {
    .xiantiao {
        width: 100%;
        height: 10px;
    }
    .address-cont {
        background: #fff;
        padding: 25px;
        box-sizing: border-box;
        >span {
            font-weight: bold;
            font-size: 30px;
        }
        >span:nth-child(1) {
            margin-right: 20px;
        }
        >p:nth-child(3) {
            margin: 25px 0;
            display: flex;
            flex-direction: column;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            border-bottom: 1px solid #e8e8e8;
            padding-bottom: 25px;
            box-sizing: border-box;
            color: #858585;
            font-size: 28px;
        }
        .address-btm {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            .am-checkbox {
                margin-right: 6px;
            }
            .address-checkbox {
                // font-size: 
                display: flex;
                align-items: center;
                flex-direction: row;
            }
            ul {
                display: flex;
                align-items: center;
                flex-direction: row;
                li {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    color: #858585;
                }
                li:nth-child(1) {
                    margin-right: 48px;
                }
            }
        }
    }
    
}
.address-page{
    position: relative;
    padding-bottom: 120px;
}
.addAddress-btn{
    width: 100%;
    position: fixed;
    bottom: 0;
}
.am-list-extra{
    flex-basis: 50% !important; 
}
.address-input{
    text-align: right;
    // border: 1px solid red;
    width: 90%;
    // height: 44px;
}
.Addaddress-checkbox{
    margin:0 30px;
    font-size: 30px;
    padding-top: 30px;
    display: flex;
    align-items: center;
    >span{
        margin-right: 20px;
        
    }
}