.address-container .xiantiao {
  width: 100%;
  height: 10px;
}

.address-container .address-cont {
  background: #fff;
  padding: 25px;
  box-sizing: border-box;
}

.address-container .address-cont > span {
  font-weight: bold;
  font-size: 30px;
}

.address-container .address-cont > span:nth-child(1) {
  margin-right: 20px;
}

.address-container .address-cont > p:nth-child(3) {
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 25px;
  box-sizing: border-box;
  color: #858585;
  font-size: 28px;
}

.address-container .address-cont .address-btm {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.address-container .address-cont .address-btm .am-checkbox {
  margin-right: 6px;
}

.address-container .address-cont .address-btm .address-checkbox {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.address-container .address-cont .address-btm ul {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.address-container .address-cont .address-btm ul li {
  display: flex;
  align-items: center;
  flex-direction: row;
  color: #858585;
}

.address-container .address-cont .address-btm ul li:nth-child(1) {
  margin-right: 48px;
}

.address-page {
  position: relative;
  padding-bottom: 120px;
}

.addAddress-btn {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.am-list-extra {
  flex-basis: 50% !important;
}

.address-input {
  text-align: right;
  width: 90%;
}

.Addaddress-checkbox {
  margin: 0 30px;
  font-size: 30px;
  padding-top: 30px;
  display: flex;
  align-items: center;
}

.Addaddress-checkbox > span {
  margin-right: 20px;
}
