/* 公共css */
*{margin:0;padding:0;}
html{
  height: 100%;
}
body {
  height: 100%;
  font-size: 25px;
}
#root{
  height: 100%;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

input {
  outline: none;
  border: 0;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

img {
  content: normal !important;
}

/* 底部选项卡 */

.TabBarCont {
  position: relative;
  /* height: 100%; */
  padding-bottom: 120px;
  z-index: 999;
}
.am-tab-bar-bar {
  position: fixed;
  width: 100%;
  height: 200px;
  bottom: 0;
}

.am-tab-bar-bar {
  height: 100px;
}

.iconfont {
  font-size: 50px;
}

/* 选项卡文字样式 */

.am-tab-bar-bar .am-tab-bar-tab-title {
  font-size: 16px;
  margin: 0;
}

Array<{value, label, children: Array}>
/* hover-class */

.hover-class {
  opacity: 0.6;
}
/* 暂无数据 */
.no-data{
  width: 100%;
  margin-top: 200px;
  text-align: center;
  font-size: 40px;
}
/* list item右边的字体大小 */
.am-list-extra{
  font-size: 14px !important ;
}