
.grid-cont{
    padding: 10px;
    padding-bottom: 0;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
 .grid-icon {
    width: 50%;
    margin-bottom: 10px;
}