/* 抽屉最上面的边框 */
.am-drawer-draghandle{
    height: 0px !important;
}
/* 原点 */
.am-carousel-wrap-dot{
    zoom: 2.2 !important;
    margin-bottom: 5px !important;
}
.my-drawer {
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.my-drawer .am-drawer-sidebar {
    background-color: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.my-drawer .am-drawer-sidebar .am-list {
    width: 300px;
    padding: 0;
}

/* 每个item */
.grade-container{
    padding: 30px 0 0 30px;
    z-index: 999;
}
.grade-container div{
    color: #ababab;
    margin-bottom: 10px;
}
.grade-container ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.gradeChird{
    border: 1px solid #dfdada;
    color: #686868;
    border-radius: 8px;
    height: 57px;
    width: 120px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 65px 20px 0;
}
.grade-container li:nth-child(4n){
    margin-right: 0;
}
.active{
    color: #f7463e ;
    border: 1px solid #f7463e;
}


/* 箭头 */
.Drawer-arrow{
    display: flex;
    align-items: center;
    z-index: 3;
    position: absolute;
    left: 20px;
    top: 20px;
    color: #fff;
    /* font-weight: bold; */
    letter-spacing: 1px;
    /* padding: 5px 10px;
    box-sizing: border-box; */
    /* border: 1px solid red; */
    /* background-color: pink; */
}
.am-drawer-sidebar{
    z-index: 4;
}

/* 选项卡 */
.TabCont{
    margin-top: 20px;
}
.am-tabs-default-bar-underline{
    border: 4px solid #f7463e;
    margin-top: 10px;
}
.am-tabs-default-bar-tab{
    padding: 40px 0  !important;
}
.am-drawer-overlay{
    z-index: 2;
}

.vedio-html{
    width: 100%;
    height: 300px;
    border: 1px solid red;
}
.vedio-html>video{
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}