.HomeItemCont {
    display: flex;
    background: #fff;
    margin: 20px;
    height: 220px;
    padding: 20px;
    color: #acacac;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
    li:nth-child(1) {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        div:nth-child(1) {
            background: #f7463e;
            color: #fff;
            padding: 5px 8px;
            border-radius: 10px;
        }
        div:nth-child(2) {
            background: orange;
            color: #fff;
            padding: 5px 8px;
            border-radius: 10px;
            margin-left: 10px;
        }
        div:nth-child(3) {
            width: 100px;
            text-align: center;
            padding: 6px 0;
            border: 1px solid #f7463e;
            color: #f7463e;
            border-radius: 10px;
            margin: 0 15px;
            font-size: 22px;
        }
        div:nth-child(4) {
            color: black;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap // border: 1px solid red;
        }
    }
    li:nth-child(2) {
        margin: 15px 0 10px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }
    li:nth-child(3) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        span:nth-child(2) {
            color: #f7463e;
            font-size: 30px;
            span {
                font-size: 35px;
            }
        }
    }
    li:nth-child(4) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .icon-guankan {
            font-size: 30px;
            margin-right: 5px;
            vertical-align: middle;
        }
        span {
            margin-right: 10px;
        }
        p>span {
            vertical-align: middle;
        }
    }
}

.Tab-cont {
    font-size: 25px;
    border: 1px solid red !important;
}

.am-tabs-default-bar-tab {
    font-size: 25px;
}