.HTD-title {
    display: flex;
    align-items: center;
    height: 100px;
    background: #fff;
    padding-left: 30px;
    border: 1px solid #e7e7e7;
    li:nth-child(1) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 20px;
        span:nth-child(1) {
            color: #f7463e;
            font-size: 30px;
            span {
                font-size: 40px;
            }
        }
    }
    li:nth-child(2) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .icon-guankan {
            font-size: 30px;
            margin-right: 5px;
            vertical-align: middle;
        }
        span {
            vertical-align: middle;
        }
    }
}

.HTD-userLIst {
    margin-bottom: 300px;
}

.HTD-info {
    display: flex;
    background: #fff;
    padding: 20px;
    color: #acacac;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px;
    border-radius: 0;
    padding-bottom: 10px;
    height: 250px;
    border-radius: 20px;
    li:nth-child(1) {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        div:nth-child(1) {
            background: #f7463e;
            color: #fff;
            padding: 5px 8px;
            border-radius: 10px;
        }
        div:nth-child(2) {
            width: 100px;
            text-align: center;
            padding: 6px 0;
            border: 1px solid #f7463e;
            color: #f7463e;
            border-radius: 10px;
            margin: 0 15px;
            font-size: 22px;
        }
        div:nth-child(3) {
            color: black;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap // border: 1px solid red;
        }
    }
    li:nth-child(2) {
        margin: 15px 0 10px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }
    li:nth-child(3) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        span:nth-child(2) {
            color: #f7463e;
            font-size: 30px;
            span {
                font-size: 35px;
            }
        }
    }
    li:nth-child(4) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .icon-guankan {
            font-size: 30px;
            margin-right: 5px;
            vertical-align: middle;
        }
        span {
            margin-right: 10px;
        }
        p>span {
            vertical-align: middle;
        }
    }
}

.HTD-icont {
    background: #fff;
    padding: 30px 20px;
    width: 100%;
    display: block;
    margin: 20px 0;
    box-sizing: border-box;
    color: #acacac;
}

.HTD-Recommend {
    background: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
    height: 90px;
    position: relative;
    box-sizing: border-box;
    justify-content: space-between;
    padding-left: 80px;
    img {
        position: absolute;
        top: 0;
        height: 75px;
        width: 70px;
        left: 10px;
    }
    span {
        font-size: 28px;
    }
}

.HTD-list {
    background: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px 0 30px;
    height: 90px;
    position: relative;
    box-sizing: border-box;
    justify-content: space-between;
    font-size: 26px;
    border-top: 1px solid #e7e7e7;
    span:nth-child(2) {
        color: #f7463e;
        font-size: 26px;
        span {
            font-size: 30px;
        }
    }
}

// 底部按钮
.HTD-btm {
    width: 100%;
    height: 90px;
    background: #fff;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    padding: 30 0px;
    z-index: 3;
    color: #858585;
    ul {
        display: flex;
        flex-direction: row;
        width: 60%;
        li {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-right: 1px solid #ccc;
            i {
                font-size: 35px;
            }
        }
        li:nth-child(1) {
            p {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .icon-shoucang-yellow {
                    color: orange;
                }
                .HTD-already {
                    color: orange;
                }
            }
        }
        li:nth-child(2) {
            border: none;
        }
    }
    div {
        width: 40%;
        text-align: center;
        color: #fff;
        background-color: #ed7530;
        height: 100%;
        line-height: 90px;
    }
}

// 视频
.video-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    li {
        background-color: #fff;
        width: 48%;
        height: 80px;
        margin: 5px;
        line-height: 80px;
        text-align: center;
        font-size: 25px;
        margin-right: 7px;
        position: relative;
    }
    .freeItem {
        color: red; // position: absolute;
        // top: 50%;
        // left: 65%;
        // transform: translateY(-50%);
        border: 1px solid red;
        height: 40px;
        text-align: center;
        line-height: 40px;
        padding: 0 7px;
        border-radius: 10px;
        font-size: 20px;
        margin-left: 10px;
    }
}

// 电子书
.book-img {
    width: 100%;
    height: 350px;
}

// .am-list-arrow-horizontal {
//     width: 25px !important;
//     height: 25px !important;
// }
// .am-list-content {
//     font-size: 28px !important;
// }
.book-userLIst {
    height: 90px;
    font-size: 40px;
    margin-bottom: 10px;
    .am-list-extra {
        // border: 1px solid red;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .btn-blank {
        display: block;
        height: 50px;
        line-height: 50px;
        border: 1px solid #118ee9;
        padding: 0 25px;
        text-align: center;
        color: #118ee9;
        border-radius: 10px;
    } //   a:visited{
    //       color: black
    //   }
    .btn-blank:active {
        opacity: 0.6;
    } // .btn-blank:hover {
    //     opacity: 0.6;
    // }
}

.bookList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 300px;
    li {
        width: 18%; // min-width: 18%;
        height: 90px;
        line-height: 90px;
        text-align: center;
        background: #fff;
        margin: 7px;
        box-sizing: border-box;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    li:nth-child(5n) {
        margin-right: 0; // border: 1px  solid red;
    }
    li:nth-last-child(1) {
        // border: 1px solid red;
    }
    li:nth-last-child(2) {
        font-size: 40px;
    } // li:hover{
    //     opacity: 0.6;
    // }
}

// 音频
.audio-class {
    width: 100%;
}

.payment-modal {
    width: 400px;
}

// .am-modal-footer{
//   border: 1px solid fuchsia;
//   height: 100px;
//   div{
//     height: 100%;
//   }
// }
// mark样式
.payment-wrapmodal {
    // border: 1px solid palegreen;
}