.user-title {
    width: 100%;
    height: 260px;
    background-color: #f7514a;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    ;
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
            width: 130px;
            height: 130px;
            border-radius: 50%;
            margin-bottom: 13px;
        }
    }
    .user-title-btn {}
}

.user-arrow {
    height: 90px;
    margin-top: 10px;
    color: #858585;
    div {
        color: #858585 !important;
    }
}

.userGrid-cont {
    border-bottom: 5px solid #ece8e8;
    i {
        color: #e98f35;
    }
    div {
        font-size: 28px;
    }
}

.am-grid-item-content {
    padding: 0 !important;
}

// 订单列表
.orderList {
    margin: 0 !important;
}

// 订单item
.orderItem {
    background-color: #fff;
    margin: 10px 0;
    padding: 20px;
    padding-bottom: 0;
    box-sizing: border-box;
    li:nth-child(1) {
        height: 73px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #f4f5fa;
        span:nth-child(1) {
            color: #858585;
        }
        span:nth-child(2) {
            color: #858585;
            font-size: 28px;
        }
    }
    li:nth-child(2) {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between; // border: 1px solid red;
        height: 166px;
        img {
            width: 100px;
            height: 110px; // margin: 0 70px;
            // border: 1px solid red;
        }
        div {
            display: flex;
            flex-direction: column; // margin-right: 20px;
            width: 250px; 
            // border: 1px solid red;
            span:nth-child(1) {
                // border: 1px solid red;
                font-size: 28px;
                margin-bottom: 20px;
                display: flex;
                flex-direction: column;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2; // border: 1px solid red;
                // overflow: hidden;
            }
            span:nth-child(2) {
                strong {
                    color: #f7463e;
                    font-size: 28px;
                }
            }
        }
        .orderItem-btn {
            color: #ff9800;
            border: 1px solid #ff9800;
        }
        .btn-opacity{
            opacity: 0;
        }
    }
}

// 待收货
.UTH-btns {
    .UTH-btn {
        background-color: #fff;
        padding: 25px;
        box-sizing: border-box;
        height: 181px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #a8a8a8;
            font-size: 28px;
        }
        li:nth-child(3) {
            color: black;
            font-size: 32px;
            span:nth-child(2) {
                color: #f7463e;
                font-size: 32px;
            }
        }
    }
    .UTH-time {
        margin-top: 30px;
        padding: 0 25px;
        background: #fff;
        box-sizing: border-box;
        color: #ababab;
        li {
            padding: 20px 0px;
        }
    }
    .UTH-btm-btn {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: #fff;
        .UTH-btnOne {
            margin: 0 10px 0 10px;
        }
    }
}

// 平台介绍
.PFT-TabItem {
    img {
        width: 100%;
        height: 240px;
        margin-top: 10px;
    }
    .PFT-TabItem-cont {
        padding: 30px;
    }
}

//