.user-title {
  width: 100%;
  height: 260px;
  background-color: #f7514a;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.user-title div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-title div img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-bottom: 13px;
}

.user-arrow {
  height: 90px;
  margin-top: 10px;
  color: #858585;
}

.user-arrow div {
  color: #858585 !important;
}

.userGrid-cont {
  border-bottom: 5px solid #ece8e8;
}

.userGrid-cont i {
  color: #e98f35;
}

.userGrid-cont div {
  font-size: 28px;
}

.am-grid-item-content {
  padding: 0 !important;
}

.orderList {
  margin: 0 !important;
}

.orderItem {
  background-color: #fff;
  margin: 10px 0;
  padding: 20px;
  padding-bottom: 0;
  box-sizing: border-box;
}

.orderItem li:nth-child(1) {
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f4f5fa;
}

.orderItem li:nth-child(1) span:nth-child(1) {
  color: #858585;
}

.orderItem li:nth-child(1) span:nth-child(2) {
  color: #858585;
  font-size: 28px;
}

.orderItem li:nth-child(2) {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 166px;
}

.orderItem li:nth-child(2) img {
  width: 100px;
  height: 110px;
}

.orderItem li:nth-child(2) div {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.orderItem li:nth-child(2) div span:nth-child(1) {
  font-size: 28px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.orderItem li:nth-child(2) div span:nth-child(2) strong {
  color: #f7463e;
  font-size: 28px;
}

.orderItem li:nth-child(2) .orderItem-btn {
  color: #ff9800;
  border: 1px solid #ff9800;
}

.orderItem li:nth-child(2) .btn-opacity {
  opacity: 0;
}

.UTH-btns .UTH-btn {
  background-color: #fff;
  padding: 25px;
  box-sizing: border-box;
  height: 181px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.UTH-btns .UTH-btn li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #a8a8a8;
  font-size: 28px;
}

.UTH-btns .UTH-btn li:nth-child(3) {
  color: black;
  font-size: 32px;
}

.UTH-btns .UTH-btn li:nth-child(3) span:nth-child(2) {
  color: #f7463e;
  font-size: 32px;
}

.UTH-btns .UTH-time {
  margin-top: 30px;
  padding: 0 25px;
  background: #fff;
  box-sizing: border-box;
  color: #ababab;
}

.UTH-btns .UTH-time li {
  padding: 20px 0px;
}

.UTH-btns .UTH-btm-btn {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #fff;
}

.UTH-btns .UTH-btm-btn .UTH-btnOne {
  margin: 0 10px 0 10px;
}

.PFT-TabItem img {
  width: 100%;
  height: 240px;
  margin-top: 10px;
}

.PFT-TabItem .PFT-TabItem-cont {
  padding: 30px;
}
