.wallet {
    height: 100%; // border: 1px solid red;
    background: #fff;
}

.wallet-cont {
    background: #fff;
    padding: 100px 40px 50px;
    li:nth-child(1) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 120px;
        color: #f7463e;
        img {
            width: 146px;
            height: 146px;
        }
        span {
            margin: 25px 0;
            font-size: 28px;
        }
        h1 {
            margin: 0;
        }
    }
    li:nth-child(2) {
        .wallet-Recharge {
            margin-bottom: 15px;
        }
    }
}

// 充值
.Recharge {
    background-color: #fff;
    margin: 30px 20px;
    padding: 45px 30px;
    .Recharge-cont {
        height: 128px;
        border-bottom: 1px solid #fbfbfb;
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        font-size: 30px;
        box-sizing: border-box;
        li:nth-child(2) {
            margin-left: 40px;
            display: flex;
            align-items: flex-start;
            flex-direction: row;
            div {
                color: #858585;
                p:nth-child(1) {
                    font-size: 35px;
                    margin-bottom: 15px;
                }
                p:nth-child(2) {
                    font-size: 26px;
                }
            }
            img {
                width: 45px;
                height: 45px;
                margin-right: 15px;
            }
        }
    }
    .Recharge-title {
        margin: 35px 0;
        font-size: 30px;
    }
    .Recharge-input {
        padding-bottom: 25px;
        font-size: 50px;
        border-bottom: 1px solid #e0e0e0;
        margin-bottom: 54px;
    }
}

.wallet-input {
    display:flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #E8E8E8;
    height: 90px;
    margin-bottom: 40px;
    border-radius: 10px;
}

.wallet-input>div {
    width:38%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E8E8E8;
    color: black;
    font-size: 30px;
}

.wallet-input>input {
    width:100%;
    height: 100%;
    padding-left: 35px;
    font-size: 30px;
}