.mall-tab {
    .am-tabs-default-bar-underline {
        border: 4px solid #fff !important;
        margin-top: 10px;
    }
}

// 价格箭头
.mall-btm-btn {
    position: relative;
    .Mall-price {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        right: 50px;
        top: 12px;
        z-index: 999;
        i {
            font-size: 15px;
            font-weight: bold;
            height: 30px;
        }
        i:nth-child(1) {
            margin-bottom: 0px;
        }
    }
}

.mallTab-cont {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    .malltabIndex {
        width: 50%;
    }
}

.mallTabItem {
    background: #fff;
    padding: 30px 15px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #e8e8e8;
    li:nth-child(1) {
        width: 100%;
        margin-bottom: 15px;
        text-align: center;
        img {
            width: 123px;
            height: 200px;
        }
    }
    li:nth-child(2) {
        font-size: 30px;
    }
    li:nth-child(3) {
        margin: 23px 0 13px;
        font-size: 26px;
        color: #d2d2d2;
    }
    li:nth-child(4) {
        span:nth-child(1) {
            font-size: 35px;
            color: #f7463e;
        }
        span:nth-child(2) {
            font-size: 26px;
            color: #d2d2d2;
            margin-left: 20px;
        }
    }
    li:nth-child(5) {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 15px;
        div:nth-child(1) {
            background: #f7463e;
            color: #fff;
            padding: 5px 8px;
            border-radius: 10px;
        }
        div:nth-child(2) {
            border: 1px solid #f7463e;
            color: #f7463e;
            padding: 5px 15px;
            border-radius: 10px;
            margin: 0 15px;
        }
        div:nth-child(3) {
            color: #d2d2d2;
        }
    }
}

// 详情
.ttd-cont {
    height: 200px !important; 
    margin-bottom: 20px !important;
    li:nth-child(2) {
        margin: 0;
    }
    li:nth-child(3) {
        margin: 0;
    }
}
// 更多推荐
.TTD-moreRecommend{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 0 20px;
    box-sizing: border-box;
    img{
        width: 80px;
        height: 120px;
    }
    span:nth-child(2){
        font-size: 26px;
        margin:20px 0 10px
    }
    span:nth-child(3){
        font-size: 30px;
        color: #f7463e;
    }
}
// 参数
.TTD-xuanji{
    margin-left: 10px;
    span{
        color: #c7c7cc ;
    }
    .am-list-arrow-horizontal{
        margin-right: 3px;
    }
}