.sm-top {
    background: #fff;
    position: relative;
    height: 100px;
    margin-top: 20px;
    padding: 20px 20px 40px; // display: flex;
    // flex-direction: column;
    // align-items: flex-start;
    span:nth-child(1) {
        font-size: 30px;
    }
    div {
        width: 90%;
        margin-top: 25px;
        font-size: 28px;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #787878;
    }
    .icon-arrow-right {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        color: #858585;
        font-size: 40px;
    }
}

.xiantiao {
    width: 100%;
    height: 15px;
}

// 主体内容
.sm-item {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    img {
        width: 30%;
        height: 100%;
    }
    ul {
        background-color: #fff;
        width: 70%;
        height: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        li:nth-child(1) {
            font-size: 36px;
            margin-top: 35px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        li:nth-child(2) {
            width: 100%;
            height: 60px;
            font-size: 28px;
            margin: 14px 0 10px;
            color: #ababab;
            overflow: hidden;
            text-overflow: ellipsis;
            display: flex;
            flex-direction: column;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
        li:nth-child(3) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            span:nth-child(1) {
                color: #f7463e;
                font-size: 32px;
            }
            span:nth-child(2) {
                font-size: 28px;
                color: #858585;
            }
        }
    }
}

.sm-list {
    height: 110px !important;
    margin-bottom: 0 !important;
    span {
        color: #858585 !important; // font-size: 32px;
    }
    .sm-input {
        width: 500px;
        text-align: right;
        box-sizing: border-box;
    }
    .am-list-extra {
        overflow: visible !important;
    }
}

.sm-Remarks {
    margin-top: 20px;
}

.PurchaseNotice {
    margin: 20px;
    color: #858585;
    font-size: 28px;
}

.sm-btm-btn {
    p {
        width: 60%;
        text-align: right;
        padding-right: 30px;
        box-sizing: border-box;
        span {
            color: #f7463e;
            font-size: 35px;
        }
    }
}